@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Distributor Management System</h1>
    <p style="text-align:center;" >Registered For</p>
    @if (LoginInfo.ClientId == 1)
    {
        <img src="" />
        <h2 style="text-align:center; color:green;" >M/S Aurongopur Trading</h2>
    } 
</div>
